table
{
  background-color: #626262;
  color: white;
  padding: 2px;
  align: center;
  width: 50%;
  margin-right: 25%;
  margin-left: 25%;
}


td {
  /*display: block;*/
  width: 100px;
  background-color: #DBDBDB;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  transition: size 0.2s;
  color: black;
  text-decoration: none;
}

a {
  display: block;
  background-color: #DBDBDB;
  text-align: center;
  transition: size 0.2s;
  color: black;
  text-decoration: none;
}

body.main{
  background-color: #FFFFFF;
}

body.bg{
  background: #DBDBDB;
}
